.input-group-text {
    min-width: 100px !important;
}

.questionHolder {
    font-size: 2rem;
}
.answersChoice {

}

#cardHeader {
 font-size: 1.2rem;
}
.answerOption {
    font-size: 1.8rem;
}
li:hover {
    background-color: rgba(138, 123, 126, 0.879);
}

#keepCalm {
    display: block;
    margin-left: 14rem;
    width: 20rem;
}

#resetBtn {
    display: none;
}